:root {
  --color-red: #df0000;
  --color-yellow: #f4ee3f;
  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
  --font-family: "Rockwell";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Cherry Bomb One", cursive;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2.5rem;

  display: flex;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.popup span {
  margin: 2px 0px;
}

.manga-cover {
  width: 200px;
  margin: 5px auto;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-input {
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

.search-input::placeholder {
  text-align: center;
}

.search-button {
  width: 50%;
  margin: 5px auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-red);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
}
.sidebar h1 {
  font-size: 7rem;
  text-align: center;
  font-weight: 100;
}

.copyright {
  margin-top: auto;
  font-size: 1.5rem;
  text-align: center;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}
